body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  text-align: center;
  width: 100%;
  /* background-color: black; */
  color: black;
}

.h-component {
  display: flex;
  min-height: 100vh;
  margin: auto;
  padding-bottom: 50px;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transition: all 1s;
}

.center {
  margin: 0px auto;
  width: 100%;
  background-image: url("../res/img/logo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
  align-items: center;
  padding: 390px 0px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  margin: auto;
  /* 스스로 중간정렬 */
  align-items: center;
  /* flex direction이 column일 경우에는 align-items로 중간정렬 */
  gap: 60px;
}

.flex-column img {
  width: 400px;
  height: 400px;
}

.flex-column .show img {
  cursor: pointer;
}

.flex-column .show img:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}

.flex-column div {
  display: flex;
  flex-direction: row;
}

.flex-column .hidden:first-child {
  transform: translateX(-100%);
}

.flex-column .show:first-child {
  transform: translateX(0);
  transition: all 1s;
}

.flex-column .hidden:last-child {
  transform: translateX(100%);
}

.flex-column .show:last-child {
  transform: translateX(0);
  transition: all 2s;
}

.flex-column p {
  padding: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  /* flex direction이 row일 경우에는 justify-content로 중간정렬 */
  justify-content: center;
  margin: auto;
}

.hidden p {
  width: 300px;
  text-align: left;
}

.flex-column.paragraph {
  flex-direction: column;
  gap: 15px;
}

.flex-row img {
  width: 600px;
}

/* img {
  margin: 0px 45px;
  border: 4px solid #5a5a5a;
  border-radius: 10px;
} */

.header {
  position: absolute;
  /* background-color: red; */
  width: 100%;
  height: 60px;
  z-index: 1;
  display: flex;
  justify-content: right;
  padding: 5px 50px;
  box-sizing: border-box;
}

.header button {
  background-image: url("../res/img/homebutton.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.header button:hover {
  transform: scale(1.1);
}

.flex-column .p1_content {
  flex-direction: column;
  padding: 10px 63px;
  align-items: start;
}

.flex-column .p1_content p {
  padding: 0px;
}

.flex-column .p1_content ul {
  text-align: start;
}

.flex-column .p1_content ol {
  text-align: start;
}

.h-component.flex-column.left {
  align-items: start;
}

.map_container {
  /* display: inline-block; */
  /* overflow: hidden; */
  /* width: 600px;
  height: 450px; */
}

.map {
  width: 100%;
  height: 100%;
}

.h-component .product-container {
  flex-direction: column;
  width: 30%;
}

.p img {
  border: 4px solid transparent;
  width: 30vw;
  min-width: 137px;
  max-width: 240px;
}

.p img:hover {
  border: 4px solid pink;
  border-radius: 30px;
  /* give shadow into image */
  box-shadow: 0 0 10px #333;
}


.p {
  padding: 100px 10px;
  width: 80%;
  gap: 11px 30px;
  flex-wrap: wrap;
}

#select_box {
  padding: 5px 30px 5px 10px;
  border-radius: 4px;
  font-size: 18px;
  outline: 0 none;
  margin-right: 30px;
}

#select_box option {
  background: black;
  color: white;
  padding: 3px 0
}