body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  text-align: center;
  width: 100%;
  background-color: black;
  color: white;
}

.h-component {
  display: flex;
  min-height: 100vh;
  margin: auto;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transition: all 1s;
}

.center {
  margin: 0px auto;
  width: 100%;
  background-image: url("../res/img/logo.jpg");
  background-repeat: no-repeat;
  align-items: center;
  padding: 390px 0px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  margin: auto;
  /* 스스로 중간정렬 */
  align-items: center;
  /* flex direction이 column일 경우에는 align-items로 중간정렬 */
  gap: 15px;
}

.flex-column img {
  width: 23vw;
  height: 23vw;
  padding: 10px;
}

.flex-column .show img {
  cursor: pointer;
}

.flex-column .show img:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}

.flex-column div {
  display: flex;
  flex-direction: row;
}

.flex-column .hidden:first-child {
  transform: translateX(-100%);
}

.flex-column .show:first-child {
  transform: translateX(0);
  transition: all 1s;
}

.flex-column .hidden:last-child {
  transform: translateX(100%);
}

.flex-column .show:last-child {
  transform: translateX(0);
  transition: all 2s;
}

.flex-column p {
  padding: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  /* flex direction이 row일 경우에는 justify-content로 중간정렬 */
  justify-content: center;
  margin: auto;
}

.hidden p {
  width: 300px;
  text-align: left;
}

.flex-column.paragraph {
  flex-direction: column;
}
